@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body,
html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: #f4f9f4;
    color: #005392;

}

p {
    font-size: 0.9rem;
    line-height: 2;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    border-radius: 20px;
    padding: 0.5rem 2rem;
    max-width: 200px;
}

.navbar {
    position: fixed;
    padding: 2rem;
    width: 100%;
    color: #fff;
    transition: 0.6s ease;
    z-index: 100000;
    text-align: center;
}

.navbar-nav a,
.navbar-toggler,
.navbar .navbar-brand {
    margin: auto 1.5rem;
    display: inline-block;
    transition: 0.6s ease;
    color: #fff;
}

.navbar-brand{
    font-size: 1.5rem;
}

.navbar-nav .btn{
    margin: 0.5rem auto;
}

.background{
    background-color:#041827cc;
}


.banner {
    position: relative;
    padding-top: 10rem;
    width: 100%;
    height: 100%;
    min-height: 700px;
    background: linear-gradient(180deg, #002b49e1 0%, #11629c 35%, #47a9f0 100%);
    overflow: hidden;
    color: rgb(255, 255, 255);
}

.ocean {
    height: 0%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotateZ(360deg);
    background: #0039d4;
}

.wave {
    background: url(../img/wave-4.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}

#banner-heading {
    position: absolute;
    left: 4rem;
    margin: auto 0;
    width: 50%;
}

#aboutUs {
    text-align: center;
    padding: 5rem 3rem;
    width: 100%;
}

#mini-intro {
    padding: 0 3rem;
    background: linear-gradient(180deg, #f4f9f4 30%, #a2d8ff57 70%);
}

.cards {
    margin: 1rem;
    padding: 2rem;
    border-radius: 20px;
    background: #ffffff;
    transition: all 0.6s;
    box-shadow: 9px 9px 18px #c2c2c2,
        -9px -9px 18px #ffffff;
    text-align: left;
}

.cards i {
    padding-bottom: 1rem;
    font-size: 20px;
}

.cards h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.cards p {
    font-size: 12px;
}

.cards:hover {
    transform: scale(1.15);
}

#features-explanation {
    width: 100%;
    background: url(../img/wave-5.svg) repeat-x;
    text-align: left;
    padding: 4rem 6rem 2rem;
}

.feature {
    margin: 3rem 1rem;
}

.feature a {
    text-decoration: none;
}

#team{
    padding: 0 6rem;
}

#contact-div {
    margin: 3rem 0;
    background-color: #002b49e1;
    text-align: center;
    padding:2rem;
    color: #fff;
}

#contact-div h3 {
    padding-top: 4rem;
    font-weight: 600;
    font-size: 2.5rem;
}

#contact-form {
    border: 2px #fff inherit;
    padding: 2rem;
    text-align: left;
    display: inline-block;
    margin: 2rem auto;
}

#contact-form label {
    display: block;
    font-weight: 600;
    padding: 1rem 0 0;
    font-size: 1.1rem;
}

input,
textarea {
    width: 100%;
    display: block;
    line-height: 2;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: rgb(5, 5, 5);
    margin: 1rem 0;
    background-color: rgb(255, 255, 255);
}

#contact-form button {
    display: block;
    margin: 0 auto;
}

#status{
    transition: all 0.6s;
    font-size: 20px;
    border-radius: 20px;
    padding: 2rem;
    display: none;
}

.error{
    background-color: rgba(212, 87, 87, 0.932);
}

.success{
    background-color: rgba(68, 175, 68, 0.753);
}

footer {
    margin: 4rem;
    padding: 2rem 0;
    border-top: 1.5px solid;
}

footer footer .navbar-brand {
    font-weight: 700;
    font-size: 3rem;
}

footer ul {
    padding-left: 4rem;
    text-align: left;
}

footer ul li {
    line-height: 2;
    font-weight: 500;
}

footer i {
    font-size: 20px;
}

footer select {
    margin-left: 1rem;
    padding: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0);
    color: inherit;
    background-color: inherit;
}
