<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <link rel="stylesheet" href="static\css\home.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">STOCKIFY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="#aboutUs">About Us</a>
                <a class="nav-link" href="#features">Features</a>
                <a class="nav-link" href="#contact">Contact</a>
                <a href="login" class="btn btn-primary">Login</a>

            </div>
        </div>
    </nav>

    <section class="banner">
        <div class="ocean" id="background">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>

        <div id="banner-heading">
            <h1>“Forecasts usually tell us more about the forecaster than of the future.”</h1>
            <p>Warren Buffet</p>
        </div>
    </section>

    <Section id="aboutUs">
        <div class="container">
            <h2>About Us</h2>
            <p>We are students of Manipal University Jaipur</p>
    </Section>


    <section id="features">
        <div class="row" id="mini-intro">
            <div class="col-md-4">
                <div class="intro cards" id="card1">
                    <i class="fas fa-chart-line"></i>
                    <h5>Accurate & Reliable Prediction</h5>
                    <p>We use 3 types of prediction algorithms to get accurate results 
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro cards" id="card2">
                    <i class="fas fa-rupee-sign"></i>
                    <h5>Easy Investment Process</h5>
                    <p>Prediction from our models can be used in investing sites*</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro cards" id="card3">
                    <i class="fas fa-pen"></i>
                    <h5>Modern and Trendy Design</h5>
                    <p>Easy to use user interface</p>
                </div>
            </div>

        </div>

        <div id="features-explanation">
            <div class="feature row">
                <div class="col-md-6">
                    <h3>Accurate & Reliable Prediction</h3>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aliquam excepturi eaque itaque id
                        dolorem, maiores dolores officiis quas, quis non quia quisquam. Eveniet adipisci corrupti quae
                        inventore atque voluptatibus.</p> -->
                    <a href="#">Learn more <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
                <div class="col-md-6">
                    <img src="" alt="">
                    <video src=""></video>
                </div>
            </div>

            <div class="feature row">
                <div class="col-md-6">
                    <img src="" alt="">
                </div>
                <div class="col-md-6">
                    <h3>Easy Investment Process</h3>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dicta neque quaerat a expedita
                        eveniet excepturi deserunt laboriosam deleniti nemo! Perspiciatis natus eos eaque incidunt
                        commodi doloremque sit maxime repudiandae?</p> -->
                    <a class="btn btn-primary" href="rygarlogin.html">Get Started <i
                            class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="row" id="team">
            <div class="col-md-4">
                <div class="cards" id="member1">
                    <img src="" alt="">
                    <h5>Rakshit Alaham Gangeya</h5>
                    <p>Rygar</p>
                </div>
            </div>

             <div class="col-md-4">
                <div class="cards" id="member1">
                    <img src="" alt="">
                    <h5>Harshit Kumar</h5>
                    <p>Aarkan</p>
                </div>
            </div>

             <div class="col-md-4">
                <div class="cards" id="member1">
                    <img src="" alt="">
                    <h5>Paras Jasal</h5>
                    <p>Auditore</p>
                </div>
            </div>
   
        </div>

        <div id="contact-div">
            <h3>Get in Touch</h3>
            <form action="/" id="contact-form" method="POST">
                <label for="name">Name</label>
                <input type="text" id="name" name="Name" placeholder="Enter here..." required maxlength="120">

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter email here..." required>

                <label for="message">Your Message</label>
                <textarea name="message" id="message" cols="80" rows="5" required
                    placeholder="Enter Your Message..."></textarea>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <div id="status">
                <p>status</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="row">
            <div class="col-md-4">
                <a class="navbar-brand" href="#">STOCKIFY</a>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>About Us</li>
                    <li>Features</li>
                    <li>Our Team</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="col-md-4">
                <i class="fas fa-globe"></i>
                <select name="language" id="language">
                    <option value="eng">English</option>
                    <option value="spanish">Spanish</option>
                </select>
            </div>
        </div>

    </footer>


    <!--Bootstrap js-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>

    <!--Custom js-->
    <script src="static\javascript/home.js"></script>

</body>

</html>